#main{
	border-style:solid;
	border-width:5px;
	background-color:#ededed;
	border-color:white;
	float:left;
	margin:50px 100px 50px 450px;
}
#image{
	border-style:groove;
	
    border-position:center;
	
	border-radius:500px;
	
    
}
